<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      	  <!-- 设置数据库方言 -->
          <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
          <!-- 是否在控制台显示sql -->
          <property name="hibernate.show_sql">true</property>
          <!-- 是否格式化sql，优化显示 -->
          <property name="hibernate.format_sql">true</property>
          <!-- 
          	     2.3 自动建表  
				     validate               加载hibernate时，验证创建数据库表结构
					 create                  每次加载hibernate，重新创建数据库表结构，这就是导致数据库表数据丢失的原因。
					 create-drop        加载hibernate时创建，退出是删除表结构
					 update                 加载hibernate自动更新数据库结构
	     		hibernate.hbm2ddl.auto的值建议是“none”或“validate”。
	   		 “validate”应该是最好的选择：这样 spring在加载之初，如果model层和数据库表结构不同，就会报错，这样有助于技术运维预先发现问题。
           -->
          <property name="hibernate.hbm2ddl.auto">none</property>
          

	      <!-- 是否开启二级缓存 -->
	      <property name="hibernate.cache.use_second_level_cache">true</property>
	      <!-- 设置二级缓存插件OSCache的Provider类-->
	      <property name="hibernate.cache.provider_class">org.hibernate.cache.OSCacheProvider</property>  
	      <!-- 强制Hibernate以更人性化的格式将数据存入二级缓存 -->  
	      <property name="hibernate.cache.use_structured_entries">true</property>  
	      <!-- Hibernate将收集有助于性能调节的统计数据 -->  
	      <property name="hibernate.generate_statistics">true</property> 
	      
          <!-- 数据库批量查询最大数 -->
          <property name="hibernate.jdbc.fetch_size">50</property>
          <!-- 数据库批量更新、添加、删除操作最大数 -->
          <property name="hibernate.jdbc.batch_size">50</property>
          <!-- 是否自动提交事务-->
          <property name="hibernate.connection.autocommit">true</property>
          <!-- 指定hibernate在何时释放JDBC连接 -->
          <property name="hibernate.connection.release_mode">auto</property>                
          <!-- 创建session方式 hibernate4.x 的方式 -->
          <property name="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</property>
          <!-- javax.persistence.validation.mode默认情况下是auto的，就是说如果不设置的话它是会自动去你的classpath下面找一个bean-validation**包 ,所以把它设置为none即可 -->
          <property name="javax.persistence.validation.mode">none</property>	     
    </session-factory>
</hibernate-configuration>